# 5. Data Structures
https://docs.python.org/2/tutorial/datastructures.html

In [1]:
a = [66.25, 333, 333, 1, 1234.5]
print a.count(333), a.count(66.25), a.count('x')

2 1 0

In [2]:
a.count(1)

1

In [3]:
a.index(1)

3

If there is more than one instance of a value in a list, list.index() will only list the index of the first time that value occurs in the list.

In [30]:
a.index(333) # only lists the first instance.

1

If we wan't all the indices of it's occurrance within a list, a for loop will do the trick.

In [38]:
a = [66.25, 333, 333, 1, 1234.5, 124.333, 658.21, 333.33]

In [39]:
# i is the index location and j takes on the value 333 to search for.
# a is a list a = [66.25, 333, 333, 1, 1234.5]
for i, j in enumerate(a):
    if j == 333:
        print i

1
2

In [40]:
for i in range(len(a)):
    if a[i] == 333:
        print i

1
2

In [58]:
a.count(333)

2

In [59]:
a.count('x')

0

In [68]:
# a.insert(location, number to insert)
a.insert(2, 223.89); a
a.insert(8, 223.89); a

[66.25, 333, 223.89, 333, 1, 1234.5, 124.333, 658.21, 223.89, 333.33]

In [70]:
# removes the first one in line.
a.remove(223.89); a

In [72]:
# returns index of only the first instance.
a.index(333)

1