## For this notebook I will use the Python 2.7.11 tutorial online at https://docs.python.org/2/tutorial/index.html

Warning:  I will be skipping sections I am already comfortable with.

In [30]:
import time
now = time.strftime("%c") ## Display current date and time from now variable 
print ("Current time %s"  % now )  ## Display current date and time from now variable

Current time Fri Apr 15 20:44:12 2016

In [31]:
from __future__ import division
import numpy as np

### 3. An Informal Introduction to Python

#### In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [32]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [33]:
# This will give you price + ( price * tax )   _ stands for the last assigned variable
price + _ # 113.0625

113.0625

In [34]:
89.46929361

89.46929361

In [35]:
_  # stands for the last calculation, but doesn't work if you use x = price * tax.  Need to just
# do price * tax or just enter a number you want it to hold the place of: 89.46929361

89.46929361

### Donâ€™t explicitly assign a value to it _ you would create an independent local variable with the same name masking the built-in variable with its magic behavior.
i.e., don't do this:    _ = 1.2345

In [36]:
# round the value of grade to 2 decimal places.
round(_, 2)

89.47

In [37]:
import math
x = 2; y = 3
print( math.floor(x / y) ) # truncates the float, does not round up.
print( math.floor(1.3) ) # truncates the float, does not round up.
print( math.floor(1025.67) ) # truncates the float, does not round up.
print( math.trunc(1.6) ) # same as above but make it an integer instead of a float.

0.0
1.0
1025.0
1

### Strings

To avoid issues when trying to print code that has ' in them, use " instead.  See:

In [38]:
print("letters[2:5] = ['C', 'D', 'E']  works")
print("but you'll get an error on: ")
'''print('letters[2:5] = ['C', 'D', 'E']  works')'''

letters[2:5] = ['C', 'D', 'E']  works
but you'll get an error on:

"print('letters[2:5] = ['C', 'D', 'E']  works')"

In [39]:
word = 'Python'
print(word[-1], word[-2], word[-3], word[-4], word[-5], word[-6])
# Works just like arrays and lists
print(word[0:3])

('n', 'o', 'h', 't', 'y', 'P')
Pyt

In [40]:
words = ('dog','car','sky')  # List of strings
print(words[-1])
print(words[0:2])

sky
('dog', 'car')

In [41]:
words = ['dog','car','sky'] # another list of strings
print(words[-1])
print(words[0:2])

sky
['dog', 'car']

In [42]:
words = {'dog','car','sky'} # a set
print(words)
# print(words[-1]) # this won't work because sets can't be indexed.
words.add('ocean')
words.add('green')
print(words)
new_words = list(words)
print(new_words)
new_words_array = np.array(new_words)
print(new_words_array)

set(['car', 'sky', 'dog'])
set(['car', 'green', 'sky', 'dog', 'ocean'])
['car', 'green', 'sky', 'dog', 'ocean']
['car' 'green' 'sky' 'dog' 'ocean']

In [43]:
new_words_array[0]

'car'

####  NOTE:
It is very easy to add and remove words from sets and even easier to convert them into 
lists and then arrays when you are done with them. Converting them directly to arrays without
converting to a list first will cause the word set to be carried along.
You may want to consider doing this instead of appending to an array within a for or while loop.

#### words = ['dog','car','sky'] is a list, not an array.  Arrays can only be built with numpy.  
import numpy as np

np.array(['dog','car','sky'])

In [44]:
import numpy as np
words = np.array(['dog','car','sky'])

In [45]:
type(words)

numpy.ndarray

## Lists

Lists use [ ] and tuple's use ( ).  You will run into issues if you try to use ( ) for lists, as you will see in a few lines.

In [46]:
first = [1,2,3,4,5]
last = [6,7,8,9,10]
first+last

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
all = first+last ; all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
all.append(11); all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Assignment to slices is possible, and this can even change the size of the list or clear it entirely:

In [49]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)

# replace some values
letters[2:5] = ['C', 'D', 'E']
print(letters)

# now remove them
letters[2:5] = []
print(letters)

# clear the list by replacing all the elements with an empty list
letters[:] = []
print(letters)
type(letters) # is a list

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

list

In [50]:
letters = ('a', 'b', 'c', 'd', 'e', 'f', 'g')
print(letters)
print(letters[2:5])

# replace some values
print("letters[2:5] = ['C', 'D', 'E']  # does not work.  Original assignment must be done with [].")
# print(letters)

type(letters)

# now remove them
#letters[2:5] = []  # doesn't work either because letters is a tuple.

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('c', 'd', 'e')
letters[2:5] = ['C', 'D', 'E']  # does not work.  Original assignment must be done with [].

tuple

It is possible to nest lists:

In [51]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)

print( x[0] )

print( x[0][1] )

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b

In [52]:
name = ['Kim', 'Derek', 'Sirius']
percentage = [88.23, 92.80, 99.13]
x = [name, percentage]
print(x)

print( x[0] )

print( x[0][1] )

[['Kim', 'Derek', 'Sirius'], [88.23, 92.8, 99.13]]
['Kim', 'Derek', 'Sirius']
Derek

In [53]:
x

[['Kim', 'Derek', 'Sirius'], [88.23, 92.8, 99.13]]

In [54]:
print(x[0][0], x[1][0])
print(x[0][1], x[1][1])
print(x[0][2], x[1][2])

('Kim', 88.23)
('Derek', 92.8)
('Sirius', 99.13)

In [55]:
name = ('Kim', 'Derek', 'Sirius')
percentage = (88.23, 92.80, 99.13)
dict_grades = {name:percentage}
#x = (name, percentage)
print(dict_grades)

#print( x[0] )

#print( x[0][1] )

{('Kim', 'Derek', 'Sirius'): (88.23, 92.8, 99.13)}