### Playing around with code from these sites: 
http://chimera.labs.oreilly.com/books/1230000000393/index.html
https://github.com/dabeaz/python-cookbook/tree/master/src

## calculating with dictionaries

In [199]:
# Example of calculating with dictionaries

prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

In [200]:
prices

{'AAPL': 612.78, 'ACME': 45.23, 'FB': 10.75, 'HPQ': 37.2, 'IBM': 205.55}

In [201]:
prices.values()

[37.2, 10.75, 612.78, 205.55, 45.23]

In [202]:
prices.keys()

['HPQ', 'FB', 'AAPL', 'IBM', 'ACME']

In [203]:
PRICE = zip(prices.values(), prices.keys())

In [204]:
PRICE

[(37.2, 'HPQ'),
 (10.75, 'FB'),
 (612.78, 'AAPL'),
 (205.55, 'IBM'),
 (45.23, 'ACME')]

In [205]:
print PRICE[0]
type(PRICE[0])

(37.2, 'HPQ')

tuple

In [206]:
PRICE[0][0]

37.2

In [207]:
# Find min and max price
min_price = min(zip(prices.values(), prices.keys()))
max_price = max(zip(prices.values(), prices.keys()))

In [208]:
print min_price, max_price

(10.75, 'FB') (612.78, 'AAPL')

In [209]:
print('min price:', min_price)
print('max price:', max_price)

('min price:', (10.75, 'FB'))
('max price:', (612.78, 'AAPL'))

In [210]:
print('sorted prices:')
prices_sorted = sorted(zip(prices.values(), prices.keys()))
for price, name in prices_sorted:
    print('    ', name, price)

sorted prices:
('    ', 'FB', 10.75)
('    ', 'HPQ', 37.2)
('    ', 'ACME', 45.23)
('    ', 'IBM', 205.55)
('    ', 'AAPL', 612.78)

In [211]:
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

## extracting a subset from a dictionary

In [212]:
from pprint import pprint

prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

In [213]:
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }

In [214]:
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [215]:
print("All prices over 200")
pprint(p1)

All prices over 200
{'AAPL': 612.78, 'IBM': 205.55}

In [216]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }

In [217]:
print("All techs")
pprint(p2)

All techs
{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

In [218]:
p2

{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

## Filtering List Elements

In [219]:
# Examples of different ways to filter data

mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [220]:
# All positive values
pos = [n for n in mylist if n > 0]
print(pos)

[1, 4, 10, 2, 3]

In [221]:
# All negative values
neg = [n for n in mylist if n < 0]
print(neg)

[-5, -7, -1]

#### Replaces negative values with 0.  This is very useful.

In [222]:
# Negative values clipped to 0
neg_clip = [n if n > 0 else 0 for n in mylist]
print(neg_clip)

[1, 4, 0, 10, 0, 2, 3, 0]

In [223]:
# Positive values clipped to 0
pos_clip = [n if n < 0 else 0 for n in mylist]
print(pos_clip)

[0, 0, -5, 0, -7, 0, 0, -1]

In [224]:
# Compressing example

addresses = [
    '5412 N CLARK',
    '5148 N CLARK', 
    '5800 E 58TH',
    '2122 N CLARK',
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]

In [225]:
addresses

['5412 N CLARK',
 '5148 N CLARK',
 '5800 E 58TH',
 '2122 N CLARK',
 '5645 N RAVENSWOOD',
 '1060 W ADDISON',
 '4801 N BROADWAY',
 '1039 W GRANVILLE']

In [226]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [227]:
for n in counts:
    print n

0
3
10
4
1
7
6
1

In [228]:
from itertools import compress
# n are the elements in counts.  
more5 = [ n > 5 for n in counts ]
# more5 is a new list of only the addresses that match inline with 
# numbers > 5 in the counts list.
# more5 was not filted based on addresses themselves.

a = list(compress(addresses, more5))
print(a)

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

In [229]:
more5

[False, False, True, False, False, True, True, False]

In [230]:
params = ['alpha', 'beta', 'tem', 'norm']
models = ['grbm']

In [231]:
params = ['alpha', 'beta', 'tem', 'norm', 'plIdx', 'norm']
models = ['grbm', 'lpow']

In [232]:
# Replace the norm's with norm_modelname
if params.count('norm') > 1:
    i=0
    for num,par in enumerate(params):
        if par=='norm':
            params[num]='norm_%s'%(models[i])
            i = i+1
        else:
            pass
else:
    pass

print params

['alpha', 'beta', 'tem', 'norm_grbm', 'plIdx', 'norm_lpow']

In [233]:
i=0
for num,par in enumerate(params):
    if par=='norm':
        params[num]='norm_%s'%(models[i])
        i = i+1
    else:
        pass

In [234]:
params

['alpha', 'beta', 'tem', 'norm_grbm', 'plIdx', 'norm_lpow']

## Find out what two dictionaries have in common

In [236]:
# Find out what two dictionaries have in common

a = {
   'x' : 1,
   'y' : 2,
   'z' : 3
}

b = {
   'w' : 10,
   'x' : 11,
   'y' : 2
}

In [251]:
(a.keys() and b.keys())

['y', 'x', 'w']

In [246]:
print('Common keys:', a.keys() and b.keys())

('Common keys:', ['y', 'x', 'w'])

In [239]:
print('Keys in a not in b:', a.keys() - b.keys())
print('(key,value) pairs in common:', a.items() & b.items())

TypeError: unsupported operand type(s) for &: 'list' and 'list'