## This program contains a number of shortcuts from utilizing Python built-ins that new Python users may not know of right away.

### Making Lists
Instead of typing out the whole list in brackets with '' around each item in the list.

In [4]:
sports = ['volleyball', 'basketball', 'soccer', 'football', 'biking', 'swimming']

In [5]:
sports

['volleyball', 'basketball', 'soccer', 'football', 'biking', 'swimming']

Simply leave a space between the names when you are typing.

In [6]:
sports = 'volleyball basketball soccer football biking swimming'.split()

In [7]:
sports

['volleyball', 'basketball', 'soccer', 'football', 'biking', 'swimming']

## Mapping to convert strings to int, floats, etc

In [8]:
numbers = '1 2 3 4 5 6 7 8 9'.split()

In [9]:
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
# int(numbers) doesn't work.

In [12]:
numbers = map(int, numbers)

In [13]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
numbers = '1 2 3 4 5 6 7 8 9'.split()

In [41]:
newnumbers = [int(i) for i in numbers]

In [42]:
newnumbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
sports = 'volleyball basketball soccer football biking swimming'.split()

In [44]:
sports

['volleyball', 'basketball', 'soccer', 'football', 'biking', 'swimming']

In [45]:
newnumbers = [float(i) for i in numbers]

In [46]:
newnumbers

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [47]:
help(map)

Help on built-in function map in module __builtin__:

map(...)
    map(function, sequence[, sequence, ...]) -> list

    Return a list of the results of applying the function to the items of
    the argument sequence(s).  If more than one sequence is given, the
    function is called with an argument list consisting of the corresponding
    item of each sequence, substituting None for missing values when not all
    sequences have the same length.  If the function is None, return a list of
    the items of the sequence (or a list of tuples if more than one sequence).

## enumerate

In [39]:
for name in sports:
    print sports.index(name), name

0 volleyball
1 basketball
2 soccer
3 football
4 biking
5 swimming

In [38]:
for i in range(len(sports)):
    print i, sports[i]

0 volleyball
1 basketball
2 soccer
3 football
4 biking
5 swimming

In [37]:
enumerate(sports)

In [36]:
for idx,name in enumerate(sports):
    print idx, name

0 volleyball
1 basketball
2 soccer
3 football
4 biking
5 swimming

## Incrementation

In [10]:
C = -20 
dC = 5 # increment of C in loop
while C <= 100:
    F = (9.0/5.0)*C + 32.0
    print('%.1f deg C = %.1f deg F')%(C, F)
    C = C + dC

-20.0 deg C = -4.0 deg F
-15.0 deg C = 5.0 deg F
-10.0 deg C = 14.0 deg F
-5.0 deg C = 23.0 deg F
0.0 deg C = 32.0 deg F
5.0 deg C = 41.0 deg F
10.0 deg C = 50.0 deg F
15.0 deg C = 59.0 deg F
20.0 deg C = 68.0 deg F
25.0 deg C = 77.0 deg F
30.0 deg C = 86.0 deg F
35.0 deg C = 95.0 deg F
40.0 deg C = 104.0 deg F
45.0 deg C = 113.0 deg F
50.0 deg C = 122.0 deg F
55.0 deg C = 131.0 deg F
60.0 deg C = 140.0 deg F
65.0 deg C = 149.0 deg F
70.0 deg C = 158.0 deg F
75.0 deg C = 167.0 deg F
80.0 deg C = 176.0 deg F
85.0 deg C = 185.0 deg F
90.0 deg C = 194.0 deg F
95.0 deg C = 203.0 deg F
100.0 deg C = 212.0 deg F

In [11]:
C += dC # C = C + dC
C -= dC # C = C - dC
C *= dC # C = C * dC
C /= dC # C = C/dC