# Merging data tables in Pandas

We would like to take two data files with similar data and merge them into one data table.  I have two Gamma-ray burst files here with some data.  Some of the columns in both of the files match, which is what we'd expect.

One file has two additional Gamma-ray bursts (GRBs) that the other does not.  We only want to keep the matching GRBs, but I'll show you how to keep all.

---

#### Read in data that is separated into columns within the file by 1 space.
#### Data has a row of headers.

In [39]:
import pandas

In [40]:
f1 = "/Users/KimiZ/GRBs2/analysis/Sample/bursts.txt"
f2 = "/Users/KimiZ/GRBs2/analysis/Sample/bursts_LATboresight_angles.txt"

data1 = pandas.read_table(f1, delimiter=" ", header=0)
data2 = pandas.read_table(f2, delimiter=" ", header=0)

In [41]:
data1[0:5]

   number        name      trigger       z  t90_start  t90_stop
0       1   GRB080804  bn080804972  2.2045      0.256    24.960
1       2   GRB080810  bn080810549  3.3604    -20.096    87.361
2       3  GRB080905A  bn080905499  0.1218     -0.064     0.896
3       4  GRB080905B  bn080905705  2.3739     -5.120   100.864
4       5  GRB080916A  bn080916406  0.6887      0.512    46.849

In [42]:
data2[0:5]

         name      trigger       z BATdet LATdet    angT0   angT30   angT60
0   GRB080804  bn080804972  2.2045    yes     no   0.0000   0.0000   0.0000
1   GRB080810  bn080810549  3.3604    yes     no   0.0000   0.0000   0.0000
2  GRB080905A  bn080905499  0.1218    yes     no  27.8855  29.1496  30.4518
3  GRB080905B  bn080905705  2.3739    yes     no  85.4289  85.8448  86.2924
4  GRB080916A  bn080916406  0.6887    yes     no  75.8313  77.1288  78.4168

### Lets get rid of a few columns we don't care about.
Anything matching (except 1 matching column) and any columns in either data frame that we don't care about.

#### ** We want to keep one column in the data frames that match so that we have a way to tell Pandas how to merge the two data frames.  'trigger' will be that column.

If the column names do not match in the data files, you could change them by hand in the files, or do them now:

In [43]:
cols = data1.columns

In [44]:
cols

Index([u'number', u'name', u'trigger', u'z', u't90_start', u't90_stop'], dtype='object')

In [45]:
# data1.columns = "a,b,c,d,e,f".split(',')
# or 
data1.columns = ["a","b","c","d","e","f"]

In [46]:
data1[0:2]

   a          b            c       d       e       f
0  1  GRB080804  bn080804972  2.2045   0.256  24.960
1  2  GRB080810  bn080810549  3.3604 -20.096  87.361

#### Change them back:

In [47]:
data1.columns = cols

In [48]:
data1[0:2]

   number       name      trigger       z  t90_start  t90_stop
0       1  GRB080804  bn080804972  2.2045      0.256    24.960
1       2  GRB080810  bn080810549  3.3604    -20.096    87.361

### Okay, back to dropping columns:

    axis = 1         # 0-rows, 1-columns
    inplace = True   # replace the data frame with an adjusted data frame.
                     # inplace=False is the default
                     
inplace=False is the default, which means that in order to use the adjusted data frame with the dropped columns, you'd have to assign it to a new data frame:

    data1_new = data1.drop(labels=['number'], axis=1)
    
If we use inplace=True, data1 is automatically replaced.

In [49]:
data1.drop(labels=['number'], axis=1, inplace=True)

In [50]:
data2.drop(labels=['name', 'z'], axis=1, inplace=True)

In [51]:
data1[0:5]

         name      trigger       z  t90_start  t90_stop
0   GRB080804  bn080804972  2.2045      0.256    24.960
1   GRB080810  bn080810549  3.3604    -20.096    87.361
2  GRB080905A  bn080905499  0.1218     -0.064     0.896
3  GRB080905B  bn080905705  2.3739     -5.120   100.864
4  GRB080916A  bn080916406  0.6887      0.512    46.849

In [52]:
data2[0:5]

       trigger BATdet LATdet    angT0   angT30   angT60
0  bn080804972    yes     no   0.0000   0.0000   0.0000
1  bn080810549    yes     no   0.0000   0.0000   0.0000
2  bn080905499    yes     no  27.8855  29.1496  30.4518
3  bn080905705    yes     no  85.4289  85.8448  86.2924
4  bn080916406    yes     no  75.8313  77.1288  78.4168

## Now we merge

#### We want to merge the two data frames by the column named 'trigger'

In [53]:
data = pandas.merge(left=data1, right=data2, on='trigger')

In [54]:
data[0:5]

,name,trigger,z,t90_start,t90_stop,BATdet,LATdet,angT0,angT30,angT60
0,GRB080804,bn080804972,2.2045,0.256,24.960,yes,no,0.0000,0.0000,0.0000
1,GRB080810,bn080810549,3.3604,-20.096,87.361,yes,no,0.0000,0.0000,0.0000
2,GRB080905A,bn080905499,0.1218,-0.064,0.896,yes,no,27.8855,29.1496,30.4518
3,GRB080905B,bn080905705,2.3739,-5.120,100.864,yes,no,85.4289,85.8448,86.2924
4,GRB080916A,bn080916406,0.6887,0.512,46.849,yes,no,75.8313,77.1288,78.4168

In [59]:
data.to_csv('burst_data.txt', sep = ' ', header=True, index_label='number')

### \*** IMPORTANT NOTE:

You should notice that the sizes of data1 and data2 were different.  data2 had two extra Gamma-ray bursts (GRBs) than data1.  

After we merge the two data frames, the final data frame, data, has the same length as data1.

Pandas.merge only merges the *matching* data, and omits the data that doesn't match.  This is exactly what we wanted here.

In [17]:
len(data1), len(data2), len(data)

(70, 72, 70)

### What if we wanted those keep the 2 additional GRBs?

Using the how='outer' does the job.
outer: use union of keys from both frames (SQL: full outer join)
see:
    
    help(pandas.merge)

In [18]:
data_alt = pandas.merge(left=data1, right=data2, on='trigger', how='outer')

In [19]:
len(data_alt)

72

### The two extra GRBs will be at the end of the data frame.

In [20]:
data_alt

,name,trigger,z,t90_start,t90_stop,BATdet,LATdet,angT0,angT30,angT60
0,GRB080804,bn080804972,2.2045,0.256,24.960,yes,no,0.00000,0.00000,0.00000
1,GRB080810,bn080810549,3.3604,-20.096,87.361,yes,no,0.00000,0.00000,0.00000
2,GRB080905A,bn080905499,0.1218,-0.064,0.896,yes,no,27.88550,29.14960,30.45180
3,GRB080905B,bn080905705,2.3739,-5.120,100.864,yes,no,85.42890,85.84480,86.29240
4,GRB080916A,bn080916406,0.6887,0.512,46.849,yes,no,75.83130,77.12880,78.41680
5,GRB080916C,bn080916009,4.3500,1.280,64.257,no,yes,48.83960,48.65890,48.48500
6,GRB080928,bn080928628,1.6919,-1.792,12.544,yes,no,45.21530,44.34000,43.47110
7,GRB081008,bn081008832,1.9670,0.004,150.019,yes,no,64.26970,64.97110,65.66190
8,GRB081121,bn081121858,2.5120,1.536,43.521,yes,no,134.73900,133.96900,133.19500
9,GRB081221,bn081221681,2.2600,3.328,33.025,yes,no,77.21590,78.93890,80.74000
10,GRB081222,bn081222204,2.7700,0.384,19.264,yes,no,49.90070,50.76500,51.67580
11,GRB090102,bn090102122,1.5470,1.536,28.160,yes,no,86.22880,87.73510,89.24650
12,GRB090113,bn090113778,1.7493,-2.048,15.360,yes,no,31.08010,31.97200,32.93050
13,GRB090323,bn090323002,3.5700,8.192,143.362,no,yes,57.14650,58.67720,59.32370
14,GRB090328A,bn090328401,0.7360,4.352,66.049,no,yes,64.51270,62.97220,61.31500
15,GRB090423,bn090423330,8.2000,-5.888,1.280,yes,no,75.26720,76.80890,78.35220
16,GRB090424,bn090424592,0.5440,0.512,14.656,yes,no,70.97310,71.96640,72.99230
17,GRB090510,bn090510016,0.9030,-0.048,0.912,yes,yes,13.57920,12.64650,9.04500
18,GRB090519,bn090519881,3.8500,-1.536,72.641,yes,no,47.90680,49.30760,50.71880
19,GRB090618,bn090618353,0.5400,7.936,120.322,yes,no,132.63600,133.22700,133.43600
20,GRB090902B,bn090902462,1.8220,2.816,22.144,no,yes,50.70170,50.06070,45.72150
21,GRB090926A,bn090926181,2.1062,2.176,15.936,no,yes,48.07080,49.13800,50.19320
22,GRB090926B,bn090926914,1.2400,1.088,56.641,yes,no,99.44680,99.92010,100.40500
23,GRB090927,bn090927422,1.3700,-0.192,0.320,yes,no,84.12290,91.92060,97.87650
24,GRB091003,bn091003191,0.8969,0.832,21.056,no,yes,12.26580,12.10500,10.09770
25,GRB091020,bn091020900,1.7100,-3.584,20.672,yes,no,118.33000,117.87800,117.44100
26,GRB091024,bn091024372,1.0920,-3.072,90.882,yes,no,97.76940,97.06400,96.38050
27,GRB091127,bn091127976,0.4900,0.003,8.704,yes,no,25.40080,23.89430,20.64760
28,GRB091208B,bn091208410,1.0633,-0.128,12.352,yes,yes,55.55160,55.66340,54.04220
29,GRB100117A,bn100117879,0.9200,-0.064,0.192,yes,no,86.01780,84.86680,83.70740
...,...,...,...,...,...,...,...,...,...,...
42,GRB110731A,bn110731465,2.8300,0.003,7.488,yes,yes,3.32674,3.94917,4.69097
43,GRB110818A,bn110818860,3.3600,-9.984,57.089,yes,no,95.70320,96.34560,97.01080
44,GRB111107A,bn111107035,2.8930,-1.536,10.496,yes,no,116.09300,115.34300,114.59400
45,GRB111228A,bn111228657,0.7160,-49.409,50.433,yes,no,70.37490,69.51450,68.63700
46,GRB120119A,bn120119170,1.7280,3.072,58.369,yes,no,74.92280,75.34780,75.80700
47,GRB120326A,bn120326056,1.7980,-1.280,10.496,yes,no,46.40640,46.39220,46.37800
48,GRB120711A,bn120711115,1.4050,62.465,106.498,no,yes,134.50400,134.30800,134.11800
49,GRB120712A,bn120712571,4.1745,-1.792,20.736,yes,no,38.32670,37.80280,37.33420
50,GRB120729A,bn120729456,0.8000,-1.024,24.448,yes,no,82.66120,82.74670,82.86550
51,GRB120811C,bn120811649,2.6710,-7.168,7.168,yes,no,134.39900,135.58800,136.78300
52,GRB120907A,bn120907017,0.9700,-1.920,3.840,yes,no,109.79600,110.88300,111.98000
53,GRB120922A,bn120922939,3.1000,-113.666,68.609,yes,no,87.88180,87.13700,86.41740
54,GRB121128A,bn121128212,2.2000,-0.768,16.576,yes,no,98.36220,98.73070,99.12590
55,GRB121211A,bn121211574,1.0230,-3.072,2.560,yes,no,62.24070,61.02800,59.81790
56,GRB130420A,bn130420313,1.2970,-59.649,45.313,yes,no,131.42700,132.20500,132.92500
57,GRB130427A,bn130427324,0.3400,4.096,142.338,yes,yes,48.17360,45.24500,39.12860
58,GRB130518A,bn130518580,2.4900,9.920,58.497,no,yes,40.98280,41.81180,42.63440
59,GRB130610A,bn130610133,2.0920,-2.560,19.200,yes,no,82.26720,76.80590,71.39860
60,GRB130612A,bn130612141,2.0060,-2.560,4.864,yes,no,44.37860,44.67510,45.02550
61,GRB130702A,bn130702004,0.1450,0.768,59.649,no,yes,76.41010,75.20350,73.99960
62,GRB130925A,bn130925173,0.3470,11.008,226.563,yes,no,36.32580,35.84240,30.27350
63,GRB131004A,bn131004904,0.7170,-0.192,0.960,yes,no,93.00520,93.96540,94.94360
64,GRB131105A,bn131105087,1.6860,2.496,115.138,yes,no,35.96470,36.05180,36.13680
65,GRB131108A,bn131108862,2.4000,0.448,18.944,no,yes,24.41130,28.46150,28.69860
66,GRB131231A,bn131231198,0.6420,13.312,44.544,no,yes,38.08670,39.13760,39.73630
67,GRB140206A,bn140206304,2.7400,0.512,27.776,yes,no,123.37300,123.37300,123.37300
68,GRB140213A,bn140213807,1.2076,0.768,19.392,yes,no,48.49500,48.40470,47.19750
69,GRB140304A,bn140304557,5.2830,-5.376,26.368,yes,no,72.58040,73.77820,74.96920
70,NaN,bn120118709,NaN,NaN,NaN,yes,no,38.17200,39.16120,40.17790
71,NaN,bn130907904,NaN,NaN,NaN,yes,yes,105.14400,106.26400,107.38400

----

# Extra Stuff:

### Lets start with the original data frames

In [21]:
data1 = pandas.read_table(f1, delimiter=" ", header=0)
data2 = pandas.read_table(f2, delimiter=" ", header=0)

In [22]:
len(data1), len(data2)

(70, 72)

data2 has two more Gamma-ray bursts (GRBs) in its table than data1.  We only want the GRBs that are in BOTH data frames.
#### Here is a trick 
to find the matching or non-matching bursts between data frames.

We make them both sets so that we can use the Python set feature difference.  This will give us the difference between the two sets.

    d2.difference(d1)

In [23]:
d1 = set(data1['trigger'])
d2 = set(data2['trigger'])

 
d2.difference(d1)

{'bn120118709', 'bn130907904'}

#### Here is another Example to you can see you this works:

In [24]:
D2 = {"cat","dog","horse","bird","fish"}
D1 = {"cat","dog","bear"}

#### What does d2 have that d1 does not:

In [25]:
D2.difference(D1)

{'bird', 'fish', 'horse'}

#### What does d1 have that d2 does not:

In [26]:
D1.difference(D2)

{'bear'}

In [27]:
D2.intersection(D1)

{'cat', 'dog'}

In [28]:
D1.intersection(D2)

{'cat', 'dog'}

In [29]:
bursts_to_remove = d2.difference(d1)

It's important to put the shorter table (d1) as a subset of (d2) because d2 has all the GRBs that d1 does, but 2 extra.  So if you take the difference d1.difference(d2), nothing will be returned because there is NOTHING that d1 has that d2 does not.

We convert it back into a list in the same step because we like the indexing feature of lists.

In [30]:
bursts_to_remove = list(bursts_to_remove); bursts_to_remove

['bn130907904', 'bn120118709']

    data2[data2['trigger']=='bn120118709']
Returns the row of data in the data frame that belongs to the trigger name 'bn120118709'. 

    data2[data2['trigger']=='bn120118709'].index  

Returns:
    
    Int64Index([46], dtype='int64')

which appears to act an an array with the index in the [0] and dtype='int64' in the [1] spots.

So we'll use:
    
    data2[data2['trigger']=='bn120118709'].index[0]  
Returns:
    
    46


Again, because the drop feature defaults *inplace = False*, we either need to change it to True or set the call to a new data frame name.
If you are looping over a list, as we will, it is quickest (and cleanist) to use *inplace=True.*

In [31]:
for burst in bursts_to_remove:
    idx = data2[data2['trigger']== burst].index[0] 
    print burst, idx
    data2.drop(idx, inplace=True)

bn130907904 63
bn120118709 46

In [32]:
# Check that both data frames are the same lenght now.
len(data1) == len(data2)

True

In [33]:
data2[0:2]

        name      trigger       z BATdet LATdet  angT0  angT30  angT60
0  GRB080804  bn080804972  2.2045    yes     no    0.0     0.0     0.0
1  GRB080810  bn080810549  3.3604    yes     no    0.0     0.0     0.0

### Again, drop unnecessary columns

In [34]:
data1.drop(labels=['number'], axis=1, inplace=True)
data2.drop(labels=['z','name'], axis=1, inplace=True)

In [35]:
data1[0:2]

        name      trigger       z  t90_start  t90_stop
0  GRB080804  bn080804972  2.2045      0.256    24.960
1  GRB080810  bn080810549  3.3604    -20.096    87.361

In [36]:
data2[0:2]

       trigger BATdet LATdet  angT0  angT30  angT60
0  bn080804972    yes     no    0.0     0.0     0.0
1  bn080810549    yes     no    0.0     0.0     0.0

### Just to make sure the data in both data frames are in the same order:

I'm sure there are better ways to do this.  I just do what comes most natural for me.

In [37]:
d1_triggers = list(data1['trigger'])
d2_triggers = list(data2['trigger'])

for i,trig in enumerate(d1_triggers):
    print d2_triggers[i] == trig      # all should return True.

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True